@import 'tailwindcss';
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --content-padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

html {
  min-height: calc(100% + env(safe-area-inset-top));

  /* Disable pull-to-refresh */
  overflow: hidden;
  overscroll-behavior: none;
}

/* Custom animations */
@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.7;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-out {
  animation: slide-out 0.3s ease-out forwards;
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

/* The rest of your global CSS styles */
